body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
div {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  color: inherit;
}

p {
  white-space: pre-line;
}

a {
  text-decoration: none;
  color: #fff;
}

svg {
  path {
    fill: getColor('accent');
  }
  fill: getColor('accent');
}

body {
  background-color: getColor('light');
  font-size: 62.5%;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
  position: relative;
}
