body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
a,
div {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: getColor('light');
  font-size: 62.5%;
  // font-size: 62.%;
  box-sizing: border-box;
  transition: all 0.5s ease;
}

ul li {
  list-style: none;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.container {
  margin: 0 auto;
  max-width: 960px;
  width: 90%;
}
