@import '../../sass/main.scss';

body {
  background-color: getColor('light');
  color: getColor('accent');
}

ul li {
  list-style: none;
  a {
    text-decoration: none;
    color: getColor('accent');
  }
}

.hero-img {
  img {
    width: 100%;
    height: 440px;
    object-fit: cover;
    object-position: 50% 50%;

    @media screen and (max-width: 724px) {
      & {
        height: 340px;
      }
    }
    @media screen and (max-width: 480px) {
      & {
        height: 160px;
      }
    }
  }
}

section .container {
  max-width: 800px;

  img {
    width: 100%;
  }
}
