.Article {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a {
    font-family: 'Poppins';
  }
  .hero-img {
    img {
      width: 100%;
      height: 440px;
      object-fit: cover;
      object-position: 50% 50%;

      @media screen and (max-width: 724px) {
        & {
          height: 340px;
        }
      }
      @media screen and (max-width: 480px) {
        & {
          height: 160px;
        }
      }
    }
  }

  section .container {
    max-width: 800px;

    img {
      width: 100%;
    }
  }

  table {
    border: none;
    border-collapse: collapse;
    border-color: #ccc;
    border-spacing: 0;

    width: 100%;
  }
  table td {
    background-color: getColor('rowTable');
    border-color: #ccc;
    border-style: solid;
    border-width: 0px;
    color: getColor('accent');
    font-family: Arial, sans-serif;
    font-size: 14px;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
  }
  table th {
    background-color: getColor('headerTable');
    border-color: #ccc;
    border-style: solid;
    border-width: 0px;
    color: getColor('accent');
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    overflow: hidden;
    padding: 10px 20px;
    word-break: normal;
  }
  table table-cly1 {
    text-align: left;
    vertical-align: middle;
  }
  table table-0lax {
    text-align: left;
    vertical-align: top;
  }
  @media screen and (max-width: 767px) {
    table {
      width: auto !important;
    }
    table col {
      width: auto !important;
    }
    table-wrap {
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
      margin: auto 0px;
    }
  }

  blockquote {
    background: getColor('rowTable');
    border-left: 10px solid getColor('headerTable');
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: '\201C''\201D''\2018''\2019';
  }

  blockquote p {
    display: inline;
  }
}
