@import '../utils/functions';
@import '../utils/variables';

.button {
  background-color: #fff;
  border: none;
  padding: 10px 50px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;

  min-height: 30px;
  max-height: 35px;

  @media screen and (max-width: 480px) {
    max-height: unset;
  }

  p {
    margin: 0;
    padding: 0;
    color: inherit;
    // color: getColor('primary');
  }

  path {
    fill: getColor('primary');
  }
}
