.card {
  background-color: getColor('primary');
  color: getColor('text');
  width: 80%;
  padding: 10px 40px;
  border-radius: 10px;
  margin-bottom: 30px;

  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .tags {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    .tag {
      margin-right: 10px;
      color: getColor('accent');
      background: getColor('light');
      padding: 5px 20px;
      border-radius: 5px;
      p {
        margin: 0;
      }
    }
  }

  p {
    font-size: 1rem;
  }
}
