header {
  width: 60%;
  margin: 0 0 0 auto;
  padding: 1rem;
  position: absolute;
  top: 0;
  right: 0;

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 1rem;

    li {
      display: flex;
      align-items: center;
    }

    .languages-container {
      &:hover {
        .languages-selector {
          display: flex;
        }
      }
      display: flex;
      align-items: center;
      position: relative;
      .languages-selector {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background: getColor('primary');
        position: absolute;
        top: 24px;
        li {
          width: 100%;
          padding: 10px;
          color: getColor('text');
          &:hover {
            background: getColor('light');
            color: getColor('accent');
          }
        }
      }
    }
  }
}

@media only screen and(max-width: 768px) {
  header {
    width: 100%;
    padding: 1rem 0;
  }
}

@media only screen and(max-width: 480px) {
  header ul {
    font-size: 0.8rem;
    svg {
      width: 20px;
      height: 20px;
    }
  }
}
