.hero {
  height: 60vh;
  &::after {
    content: '';
    width: 100%;
    z-index: -1;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(180deg, #1b3954 0%, #01263a 45.31%) no-repeat;
    height: 60vh;
    min-height: 500px;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
  }

  & > .container:first-child {
    margin-bottom: 30vh;
  }
}

.hero-content {
  display: flex;
  margin-top: 15vh;

  .content > * {
    margin-bottom: 24px;
  }

  .content > * {
    display: flex;
  }

  p {
    color: #fff;
    font-weight: 300;
    margin: 0;
    font-size: 1rem;
  }

  .ionicon {
    width: 24px;
  }

  .social-media {
    display: flex;
    justify-content: left;

    padding: 0;
    list-style: none;
  }

  .social-media > * {
    margin-right: 20px;
  }

  .call-to-action p {
    color: getColor('primary');
  }

  svg {
    fill: #fff;
    path {
      fill: #fff;
    }
    color: #fff;
  }

  ul li a {
    color: #fff;
  }
}

@media only screen and(max-width: 768px) {
  .hero-content {
    justify-content: center;
  }
}
